@model Reusable.Domain.Core.PagedResult<CompanyName.AppName.Domain.Entities.Wilaya>

@{
    ViewData["Title"] = "List of wilayas";
}

<h1>@ViewData["Title"]</h1>
<hr/>
<form asp-action="Index">
    <div class="row">
        <div class="col">
            <input type="text" name="search" value="@ViewBag.search" class="form-control"/>
        </div>
    </div>
</form>
<br/>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                @{ 
                    int totalPages = (Model.TotalCount / Model.PageSize) + 1;
                    bool previousEnabled = Model.Page - 1 > 0;
                    bool nextEnabled = Model.Page < totalPages;
                }

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (previousEnabled)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Page-1)" asp-route-search="@ViewBag.search">Previous</a>
                            </li>
                        }
                        @if (totalPages > 0)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Page)" asp-route-search="@ViewBag.search">@(Model.Page)</a>
                            </li>
                        }
                        @if (nextEnabled)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Page+1)" asp-route-search="@ViewBag.search">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
